<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="{% url 'addFacultyForm' %}">
      <button>Add</button>
    </a>

    <a href="{% url 'facultyList' %}">
      <button>Read</button>
    </a>

    <a href="{% url 'deleteFacultyForm' %}">
      <button>Delete</button>
    </a>

    <a href="{% url 'updateFacultyForm' %}">
      <button>Update</button>
    </a>
    <a href="{% url 'deleteAll' %}">
      <button>Delete All</button>
    </a>
  </body>
</html>
